/*
 * Global variables used for styles throughout the framework and for various calculations
 */
/* Global styles */
/* Default button styles */
/* Alt button styles */
/*Generic styles*/
/*Layout */
/* line 3, ../sass/form.scss */
input, label, textarea {
  display: block;
  width: 100%;
}

/* line 7, ../sass/form.scss */
input, textarea, select {
  border: 2px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 0.625em;
  padding: 0.625em;
}

/* line 15, ../sass/form.scss */
input[type='checkbox'], input[type='radio'] {
  width: auto;
  display: inline-block;
}
/* line 21, ../sass/form.scss */
input[type='checkbox'] + label, input[type='radio'] + label {
  padding-left: 1.25em;
}

/* line 26, ../sass/form.scss */
button {
  border: none;
  margin-top: 0.625em;
}

/* line 31, ../sass/form.scss */
.frmRow {
  margin-bottom: 0.625em;
  position: relative;
}
